.news-con-item {
  background-color: #f7f6f6;
}

.sidebar-recommend {
  margin-top: 0;
  background-color: #f7f6f6;
  .tit {
    font-size: 18px;
  }
  .sidebar-tit {
    border-bottom: 2px solid #e1dfdf;
  }
}
.sidebar-hot {
  margin-bottom: 40px;
  .sidebar-hot-list {
    font-size: 18px;
  }
}
.article {
  margin-top: 0;
  padding-top: 25px;
}
.main-news {
  width: 825px;
  .mnews-title {
    font-size: 28px;
    font-weight: 700;
    color: #282828;
    margin-bottom: 15px;
  }
}
.mnews-info {
  display: flex;
  align-items: center;
}
.mnews-author {
  .author-pic {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 28px;
    height: 28px;
    background-image: url(../images/schools/1.png);
    background-size: contain;
  }
  .author-name {
    font-size: 12px;
    color: #a6a2a2;
  }
}
.mnews-time {
  font-size: 12px;
  color: #a6a2a2;
  &::before {
    content: "";
    vertical-align: top;
    margin-right: 5px;
    margin-left: 20px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../images/svg/home-time.svg);
  }
}
.mnews-guide {
  margin: 25px 0;
  font-size: 16px;
  color: #757373;
  background-color: #f7f6f6;
  padding: 20px 24px;
  border-radius: 3px;
  text-align: justify;
}
.mnews-content {
  font-size: 16px;
  color: #333333;
  text-align: justify;

  & > p {
    margin: 30px 0;
    line-height: 30px;
    letter-spacing: 1px;
    &:first-child {
      margin-top: 0;
    }
  }
  & > h1 {
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
  }
}
.mnews-recommend {
  padding-left: 22px;
  .mnews-recommend-tit {
    font-size: 16px;
    font-weight: 700;
    color: #101010;
    margin-bottom: 5px;
  }
  .mnews-recommend-con {
    a {
      margin-top: 10px;
      display: block;
      font-size: 16px;
      color: #1260ea;
      text-decoration: underline;
    }
  }
}

.mnews-like-comments {
  margin: 35px 0;
  display: flex;
  justify-content: center;
  .mnews-praise,
  .mnews-comments {
    padding: 3px 18px;
    border-radius: 50px;
    border: 1px solid #bbbbbb;
    font-size: 14px;
    color: #101010;
  }
  .mnews-praise {
    margin-right: 70px;
    .mnews-praise-num {
      margin-left: 5px;
    }
  }
}
.mnews-wpages {
  background-color: #f7f6f6;
  padding: 20px 25px;
}
.mnews-watch {
  .mnews-watch-tit {
    font-size: 16px;
    color: var(--main-color);
    margin-bottom: 5px;
  }
  .mnews-watch-con {
    margin-bottom: 20px;
    .mnews-watch-item {
      display: inline-block;
      margin-top: 10px;
      margin-left: 15px;
      font-size: 13px;
      color: #616060;
      background-color: var(--white);
      padding: 3px 18px;
      border-radius: 3px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
.mnews-page {
  border-top: 1px dotted #e1dfdf;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  .mnews-page-prev-tit,
  .mnews-page-next-tit {
    margin-bottom: 5px;
    font-size: 13px;
    color: #929191;
  }
  .mnews-page-prev-con,
  .mnews-page-next-con {
    display: block;
    font-size: 13px;
    color: #757373;
  }
}
.head-h1 {
  border-bottom: 2px solid #e1dfdf;
  .tit {
    font-size: 20px;
    position: relative;
    &::before {
      display: none;
    }
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -12px;
      background-color: var(--main-color);
    }
  }
}
.article .section {
  width: 825px;
  margin: 35px 0 40px;
}
