.main {
  display: flex;

  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 40px;
}
.main-l {
  width: 330px;
  border: 1px solid #ededed;
  .m-title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ededed;
    .mtitle-l {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: var(--black);
      &::before {
        content: "";
        display: block;
        margin-right: 5px;
        width: 24px;
        height: 24px;
        background: url(../images/svg/home-main-gdzzxx.svg);
      }
    }
    .mtitle-r {
      font-size: 14px;
      color: #b5b1b1;
      &:hover {
        color: var(--main-color-tit-hover);
      }
    }
  }
}
.ml-content {
  .con-box {
    border-bottom: var(--border-dotted);
    padding: 20px 15px 10px;
    &:last-child {
      border-bottom: 0;
    }
    .con-btitle {
      display: inline-block;
      margin-bottom: 5px;
      width: 80px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      background-color: var(--main-color);
      color: var(--white);
      border-radius: 5px;
      font-size: 14px;
      white-space: nowrap;
    }

    .con-bitem {
      margin-left: 12px;
      color: #757373;
      white-space: nowrap;
      &:hover {
        color: var(--main-color-tit-hover);
      }
      &:first-child {
        margin-left: 10px;
      }
    }
  }
}
.main-c {
  width: 490px;
}
#swiper {
  position: relative;
  width: 100%;
  height: 276px;
  margin-bottom: 12px;
  .swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #fa8e07;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: #fff;
    font-size: 22px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: #555655ce;
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  &:hover .swiper-button-prev,
  &:hover .swiper-button-next {
    display: flex;
  }
  .swiper-item-img {
    width: 100%;
    height: 100%;
  }
  .swiper-item-p {
    position: absolute;
    padding: 0 40px;
    bottom: 38px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
  }
}
.headlines {
  .detailt {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .detailt-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
  }
  .detailt-label {
    margin-left: 5px;
    background-color: #ff0100;
    color: var(--white);
    white-space: nowrap;
    padding: 0 5px;
    font-size: 12px;
  }
  .detailt-small {
    text-align: justify;
    margin: 9px 0 10px;
    color: #757373;
    font-size: 14px;
  }
}
.detail-b {
  .detail-b-item {
    border-top: var(--border-dotted);
    padding-top: 10px;
    margin-top: 12px;
    font-size: 14px;
    .detailb-h2 {
      font-size: 16px;
      color: var(--black);
      & > span {
        font-size: 14px;
        display: inline-block;
        color: #fff;
        border-radius: 20px;
        padding: 0 8px;
        margin-right: 12px;
        background-color: var(--main-color-tit-hover);
      }
    }
    .detailb-h4 {
      margin-top: 3px;
      & > a {
        &::before {
          content: "·";
          font-weight: 700;
          margin-right: 8px;
        }
        &:first-child {
          margin-right: 20px;
        }
        &:hover {
          color: var(--main-color-tit-hover);
        }
        color: #757373;
      }
    }
  }
}

.main-r {
  width: 330px;
}
.mainr-t {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > a {
    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
    &::before {
      content: "";
      margin-right: 15px;
      width: 24px;
      height: 24px;
      display: block;
    }
    &:hover {
      background-color: #dff4ed;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid var(--main-color);
    width: 160px;
    height: 54px;
    border-radius: 3px;
  }
  & > a:nth-child(1)::before {
    background-image: url(../images/svg/home-main-dyzx.svg);
  }
  & > a:nth-child(2)::before {
    background-image: url(../images/svg/home-main-zyk.svg);
    margin-left: -12px;
  }
  & > a:nth-child(3)::before {
    background-image: url(../images/svg/home-main-zyzx.svg);
  }
  & > a:nth-child(4)::before {
    background-image: url(../images/svg/home-main-rmzy.svg);
  }
  & > a:nth-child(5)::before {
    background-image: url(../images/svg/home-main-zsjz.svg);
  }
  & > a:nth-child(6)::before {
    background-image: url(../images/svg/home-main-tjzy.svg);
  }
  & > a:nth-child(7)::before {
    background-image: url(../images/svg/home-main-zjyw.svg);
  }
  & > a:nth-child(8)::before {
    background-image: url(../images/svg/home-main-zyjd.svg);
  }
}
.mainr-b {
  margin-top: 17px;
}
.list-school {
  padding: 40px 0;
  .tit::before {
    background-image: url(../images/svg/class-school.svg);
  }
}

.school-con {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}
.sc-con-item {
  &:nth-child(4n-4) {
    margin-right: 0;
  }
  margin-right: 13px;
  margin-top: 15px;
  width: 290px;
  height: 169px;
  background-color: var(--white);
  padding: 12px;
  .con-item-t {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9ecec;
    .con-item-img {
      float: left;
      width: 80px;
      height: 80px;
      margin-right: 5px;
    }
    .con-item-tit {
      overflow: hidden;
    }
    .con-item-title {
      font-size: 16px;
      margin: 10px 0 14px;
    }
  }
  .con-item-time,
  .con-item-type {
    font-size: 12px;
    color: #a6a4a4;
    margin-top: 5px;
  }
}
.major {
  .tit::before {
    background-image: url(../images/svg/class-major.svg);
  }
  .more {
    background-color: #f7f6f6;
  }
}
.list-major {
  margin-top: 40px;
}
.major-con {
  display: flex;
  flex-wrap: wrap;
}
.mj-con-item {
  margin-right: 13px;
  margin-top: 15px;
  padding: 12px 15px;
  background-color: #f7f6f6;
  width: 290px;
  height: 124px;
  &:nth-child(4n-4) {
    margin-right: 0;
  }
  .mj-con-img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .mj-con-right {
    overflow: hidden;
    .mj-con-h1 {
      margin-top: 10px;
      font-size: 16px;
      color: #101010;
    }
    .mj-con-tags {
      margin: 10px 0;
      height: 20px;
      overflow: hidden;
    }
    .mj-con-code {
      font-size: 12px;
      color: #a6a4a4;
    }
  }
}

.friendlink {
  padding: 35px 0;
  .friendlink-tit {
    font-size: 18px;
    color: #464646;
    margin-bottom: 5px;
  }
  .friendlink-item {
    margin-top: 10px;
    font-size: 14px;
    color: #a6a4a4;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .main.wrap {
    padding: 0;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
  }
  .aside,
  .article {
    display: none;
  }
  .main-l {
    display: none;
    width: 330px;
    border: 1px solid #ededed;
    .m-title {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background-color: #ededed;
      .mtitle-l {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: var(--black);
        &::before {
          content: "";
          display: block;
          margin-right: 5px;
          width: 24px;
          height: 24px;
          background: url(../images/svg/home-main-gdzzxx.svg);
        }
      }
      .mtitle-r {
        font-size: 14px;
        color: #b5b1b1;
        &:hover {
          color: var(--main-color-tit-hover);
        }
      }
    }
  }
  .ml-content {
    .con-box {
      border-bottom: var(--border-dotted);
      padding: 20px 15px 10px;
      .con-btitle {
        display: inline-block;
        margin-bottom: 5px;
        width: 80px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        background-color: var(--main-color);
        color: var(--white);
        border-radius: 5px;
        font-size: 14px;
        white-space: nowrap;
      }

      .con-bitem {
        margin-left: 12px;
        color: #757373;
        white-space: nowrap;
        &:hover {
          color: var(--main-color-tit-hover);
        }
        &:first-child {
          margin-left: 10px;
        }
      }
    }
  }
  .main-c {
    width: 100%;
  }
  #swiper {
    position: relative;
    width: 100%;
    height: 210px;
    margin-bottom: 0;
    .swiper-pagination-bullet {
      background: #fff;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: #fa8e07;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      color: #fff;
      font-size: 22px;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
      background-color: #555655ce;
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
    &:hover .swiper-button-prev,
    &:hover .swiper-button-next {
      display: flex;
    }
    .swiper-item-img {
      width: 100%;
      height: 100%;
    }
    .swiper-item-p {
      position: absolute;
      padding: 0 40px;
      bottom: 38px;
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      color: var(--white);
    }
  }
  .headlines {
    display: none;
    .detailt {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .detailt-title {
      font-size: 18px;
      font-weight: 700;
      color: var(--black);
    }
    .detailt-label {
      margin-left: 5px;
      background-color: #ff0100;
      color: var(--white);
      white-space: nowrap;
      padding: 0 5px;
      font-size: 12px;
    }
    .detailt-small {
      text-align: justify;
      margin: 9px 0 10px;
      color: #757373;
      font-size: 14px;
    }
  }
  .detail-b {
    .detail-b-item {
      border-top: var(--border-dotted);
      padding-top: 10px;
      margin-top: 12px;
      font-size: 14px;
      .detailb-h2 {
        font-size: 16px;
        color: var(--black);
        & > span {
          font-size: 14px;
          display: inline-block;
          color: #fff;
          border-radius: 20px;
          padding: 0 8px;
          margin-right: 12px;
          background-color: var(--main-color-tit-hover);
        }
      }
      .detailb-h4 {
        margin-top: 3px;
        & > a {
          &::before {
            content: "·";
            font-weight: 700;
            margin-right: 8px;
          }
          &:first-child {
            margin-right: 20px;
          }
          &:hover {
            color: var(--main-color-tit-hover);
          }
          color: #757373;
        }
      }
    }
  }

  .main-r {
    width: 100%;
  }
  .mainr-t {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f7f6f6;
    padding: 30px 0;
    & > a {
      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-bottom: 0;
      }
      &:nth-child(n + 5) {
        margin-top: 20px;
      }
      &::before {
        content: "";
        margin-right: 0;
        width: 45px;
        height: 45px;
        display: block;
        margin-bottom: 5px;
      }
      &:hover {
        background-color: transparent;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      border: 0;
      width: 25%;
      height: auto;
      border-radius: 3px;
    }
    & > a:nth-child(1)::before {
      background-image: url(../images/svg/home-main-dyzx.svg);
    }
    & > a:nth-child(2)::before {
      background-image: url(../images/svg/home-main-zyk.svg);
      margin-left: 0;
    }
    & > a:nth-child(3)::before {
      background-image: url(../images/svg/home-main-zyzx.svg);
    }
    & > a:nth-child(4)::before {
      background-image: url(../images/svg/home-main-rmzy.svg);
    }
    & > a:nth-child(5)::before {
      background-image: url(../images/svg/home-main-zsjz.svg);
    }
    & > a:nth-child(6)::before {
      background-image: url(../images/svg/home-main-tjzy.svg);
    }
    & > a:nth-child(7)::before {
      background-image: url(../images/svg/home-main-zjyw.svg);
    }
    & > a:nth-child(8)::before {
      background-image: url(../images/svg/home-main-zyjd.svg);
    }
  }
  .mainr-b {
    margin-top: 0px;
    padding: 20px 10px;
  }
  .list-school {
    padding: 30px 0;
    .tit::before {
      background-image: url(../images/svg/class-school.svg);
    }
  }

  .school-con {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
  }
  .sc-con-item {
    &:nth-child(4n-4) {
      margin-right: 0;
    }
    position: relative;
    margin-right: 0;
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding: 12px;
    .con-item-t {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
      .con-item-img {
        float: left;
        width: 80px;
        height: 80px;
        margin-right: 5px;
      }
      .con-item-tit {
        overflow: hidden;
      }
      .con-item-title {
        font-size: 16px;
        margin: 2px 0 6px;
      }
    }
    .con-item-b {
      position: absolute;
      left: 25%;
      bottom: 10%;
      width: 69%;
      height: 20px;
      overflow: hidden;
    }
    .con-item-time,
    .con-item-type {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      color: #a6a4a4;
      margin-top: 0;
      &::before {
        display: inline-block;
        content: "";
        width: 3px;
        margin-bottom: 2px;
        margin-right: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #a6a4a4;
      }
    }
    .con-item-time {
      margin-left: 5px;
    }
  }
  .major {
    .tit::before {
      background-image: url(../images/svg/class-major.svg);
    }
    .more {
      background-color: #f7f6f6;
    }
  }
  .list-major {
    margin-top: 40px;
  }
  .major-con {
    display: flex;
    flex-wrap: wrap;
  }
  .mj-con-item {
    margin-right: 0;
    margin-top: 10px;
    padding: 12px 15px;
    background-color: #f7f6f6;
    width: 100%;
    height: 108px;
    &:nth-child(4n-4) {
      margin-right: 0;
    }
    .mj-con-img {
      float: left;
      width: 80px;
      height: 80px;
      margin-right: 12px;
    }
    .mj-con-right {
      overflow: hidden;
      .mj-con-h1 {
        margin-top: 0;
        font-size: 16px;
        color: #101010;
      }
      .mj-con-tags {
        margin: 8px 0;
        height: 20px;
        overflow: hidden;
      }
      .mj-con-code {
        font-size: 12px;
        color: #a6a4a4;
      }
    }
  }

  .friendlink {
    display: none;
    padding: 35px 0;
    .friendlink-tit {
      font-size: 18px;
      color: #464646;
      margin-bottom: 5px;
    }
    .friendlink-item {
      margin-top: 10px;
      font-size: 14px;
      color: #a6a4a4;
      margin-right: 30px;
    }
  }
  .footer {
    margin-top: 30px;
  }
}
