.news-con-item {
  background-color: #f7f6f6;
}
.head-h1 {
  border-bottom: 2px solid #e1dfdf;
  .tit {
    font-size: 20px;
    position: relative;
    &::before {
      display: none;
    }
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -12px;
      background-color: var(--main-color);
    }
  }
}
.sidebar-recommend {
  margin-top: 0;
  background-color: #f7f6f6;
  .tit {
    font-size: 18px;
  }
  .sidebar-tit {
    border-bottom: 2px solid #e1dfdf;
  }
}
.sidebar-hot {
  .sidebar-hot-list {
    font-size: 18px;
  }
}

.article {
  margin-top: 0;
  padding-top: 25px;
}
